
.dropCOntainer{
    width: 94%;
    border: 2px dotted blue;
    padding: 21px 14px !important;
    cursor: pointer;
    border-radius: 15px;
}
.dragtext{

    font-size: 15px;
}
.draging{
    border: 2px dotted green;
}
.closemarkx{
    color: red;
}

.createprojectinp{
    width: 100%;
}
.btnwrapperproject{
    width: 50%;
}

.addedusertiotle{
        color: #0D062D;
        font-family: system-ui;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.suggesteeduser{
    height: 253px;
    overflow-y: scroll;
}


.switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 26px;
    margin-bottom: 0;
    // padding: 0 29px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    top: 5px;
    content: '';
    height: 22px;
    width: 22px;
    top: 2px;
    background-color: white;
    transition: 0.4s;
    margin: 0 2px;
  }
  input:checked + .slider {
    background-color: #b375ea;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #b375ea;
  }
  .imgrelative {
    height: 100px;
    width: 100px;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    right: 26px;
  }
  
  .slider.round {
    border-radius: 14px;
  }
  .inpicon{
    position: absolute;
    bottom: 22%;
    left: 10px;
}

.create_psw_input,
.update_psw_input {
  input {
    padding-right: 20px;
    padding-top: 8px ;
    padding-bottom: 8px ;
  }

  input.is-invalid {
    padding-right: 20px !important;
  }
  i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 10px;
  }
  .eye_before_error {
    right: 1%;
  }
}
.createuserpsw{
    padding-left: 40px !important;
}
.create_psw_input {
  .eye_after_error {
    right: 5.5%;
  }
}
  .slider.round:before {
    border-radius: 45%;
  }
@media (max-width: 1024px) and (min-width: 400px) {
    .createprojectinp {
      width: 100% !important;
    }
  }