.blogpostwrapper {
    width: 70%;
    margin: auto;
    margin-top: 30px;

    .fa {
        font-family: inherit !important;
        font-weight: inherit !important;

    }

    a {
        color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1)) !important;
    }
}

.pposttitle {
 font-size: 2rem;
        line-height: 1;
        color: black;
        margin-bottom: 0px;
}

.postdata {
    font-size: .875rem;
    line-height: 1.25rem;

}

.posttimage {
    border-radius: 10px;
    object-fit: contain;
    background: aliceblue;
    width: 100%;

}

.seeallbtn {
    top: 17%;
    left: 5%;
}
@media (max-width: 767px) {
    .blogpostwrapper{
        width: 100%;
    }
    .seeallbtn {
        top: 11%;
    }
    .pposttitle {
        font-size: 1.3rem;
        margin-bottom: 0px;
        line-height: 1.2;
        color: black;
        font-weight: 600;
    }
  }