.pageheadertitle {
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}
.previous{
    span{
        color: #0D062D;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    margin: 15px 0px;
    svg{
        font-size: 30px;
    }
}