
.dropCOntainer{
    width: 94%;
    border: 2px dotted blue;
    padding: 21px 14px !important;
    cursor: pointer;
    border-radius: 15px;
}
.dragtext{

    font-size: 15px;
}
.draging{
    border: 2px dotted green;
}
.closemarkx{
    color: red;
}

.createprojectinp{
    width: 100%;
}
.btnwrapperproject{
    width: 50%;
}

.addedusertiotle{
        color: #0D062D;
        font-family: system-ui;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.suggesteeduser{
    height: 253px;
    overflow-y: scroll;
}


@media (max-width: 1024px) and (min-width: 400px) {
    .createprojectinp {
      width: 100% !important;
    }
  }